/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar-font{
  font-family:'Montserrat', sans-serif;
}

body {
  margin-top:50px;
}

.page-header  {
   background-color:#efeff5;
}

/*#contact, #about, #home_slika, #portfolio{
  padding-top:50px;
}*/

#about >h2, #contact >h2{
  color:#cc3300;
}
